.photoContainer{
    background-image: url('../../assets/portrait.png');
    width: 500px;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}