@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

body {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Cairo', sans-serif;
  color: white;
  background: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

.section {
  margin-top: 4rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  scroll-behavior: smooth;
}